---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
const allPosts = await getCollection('posts');

interface TagData {
  [tag: string]: number;
}

const tagData = allPosts.reduce((acc: TagData, post) => {
  post.data.tags.forEach((tag) => {
    if (!acc[tag]) {
      acc[tag] = 0;
    }
    acc[tag]++;
  });
  return acc;
}, {});
---
<Layout title="Tag Index" description="Tags used on the blog.">
  <ul>
    {Object.keys(tagData).map((tag) => (
      <li>
        <a href={`/tags/${tag}`}>{tag}</a> ({tagData[tag]})
      </li>
    ))}
  </ul>
</Layout>
