---
---
<a id="skip-to-content" class="skip-link" href="#main-content">
  Skip to content
</a>
<style>
  .skip-link {
    position: absolute;
    top: -100%;
    left: 4rem;
    background-color: var(--color-accent);
    color: var(--color-fill);
    padding: .5rem .75rem;
    transition: top 0.15s ease-in-out;
    z-index: 100;
  }
  .skip-link:focus {
    top: 1rem;
  }
</style>
