---
import Hamburger from './Header/Hamburger.astro';

type Props = Record<string, never>;
---
<nav class="nav">
  <Hamburger />
  <ul class="nav-list" id="menu-items">
    <li>
      <a href="/blog/" class="nav-link">Posts</a>
    </li>
    <li>
      <a href="/tags/" class="nav-link">Tags</a>
    </li>
    <li>
      <a href="/about/" class="nav-link">About</a>
    </li>
  </ul>
</nav>
<style>
  .nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    gap: 1.25rem;
    margin: 1rem 0;
    width: 11rem;
  }

  .nav-list.js-menu-active {
    display: flex;
  }

  .nav-link {
    display: inline-block;
    font-weight: 500;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 100%;
  }
  .nav-link:hover {
    color: var(--color-accent);
  }

  @media (min-width: 40rem) {
    .nav {
      flex-direction: row;
      justify-content: flex-end;
      margin-left: 0.5rem;
    }
    .nav-list {
      display: flex;
      flex-direction: row;
      margin: 0;
      width: auto;
    }
    .nav-link {
      padding: 0.25rem 0.5rem;
    }
  }
</style>
