---
import type { CollectionEntry } from 'astro:content';
import PostPreview from './PostPreview.astro';

interface Props {
  posts: Array<CollectionEntry<'posts'>>
}

const { posts } = Astro.props
---
<ul>
  {posts.map((post) => (
    <li class="list-item">
      <PostPreview post={post} />
    </li>
  ))}
</ul>
<style>
  .list-item {
    margin-bottom: 1rem;
  }
</style>
